/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/nbproject
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.idea
vendor
document_root/app/vendor/*
.DS_Store
.env
./document_root/app/vendor/*
./document_root/app/composer.lock
./document_root/app/package-lock.json
