

{% include 'parts/header.html' %}
<!-- CONTENT --------------------------------------------------------------------------------->

<!-- Intro Section -->
<section class="inner-intro intro-gradient">
    <div class="pattern"></div>
    <div class="container" style="position: relative; z-index: 10;">
        <div class="row title">
            <h2 class="h2 white">404 Error</h2>
            <div class="page-breadcrumb">
                <a href="" title="Página inicial de Agência Pulse">Home</a>/<span>Page not found :(</span>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Section -->

<!-- About Section -->
<section class="ptb ptb-sm-80">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h3><span style=" color: #dc0445">Pulse.</span> <br>Comunicação e design para construir a melhor imagem</h3>
                <p class="lead"><b>Um bom design aumenta a percepção de valor do negócio. Queremos te ajudar a construir a melhor imagem, com o melhor discurso, para tornar seu negócio mais atrativo ao mercado.</b></p>
            </div>
            <div class="col-md-6">
                <p>Apenas dizer ao seu cliente quem você é e o que você faz não é suficiente. Isso precisa ser transmitido também em sua imagem, na sua apresentação. Tudo precisa formar um discurso harmônico, com uma identidade consistente de comunicação. Design não é só beleza: é também organização, planejamento, função, clareza. Design aliado a conceitos de marketing aumenta o potencial de vendas e ajuda a fidelizar. Imagem valoriza seu produto e capta a atenção de seu cliente, fazendo com que você se diferencie em meio ao mar da concorrência.</p>
                <p>Temos experiência de mais de 12 anos em comunicação e design, atuando em variados segmentos, auxiliando na construção e valorização de marcas, desde sua concepção até seus desdobramentos, como campanhas publicitárias, criação de impressos, sites e ações online, entre outros.</p>
            </div>
        </div>


    </div>

</section>



<!-- About Section -->
<!-- End CONTENT ------------------------------------------------------------------------------>
{% include 'parts/footer.html' %}