

{% include 'parts/header.html' %}

<div class="container">
<h1>News</h1>
<p>This is a sample page with content pulled from the json files.</p>

<ul>
{% for post in posts %}

    {% if cat == '' %}
        {% set cat = post.category %}
        <h2>{{cat}}</h2>
    {% elseif cat != post.category %}
        {% set cat = post.category %}
        <h2>{{cat}}</h2>
    {% endif %}

    <li><a href="item/{{post.slug}}">{{post.post_title}}</a></li>

{% endfor %}
</ul>

</div>
{% include 'parts/footer.html' %}