

{% include 'parts/header.html' %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Vacuum</h1>
            <p>See more about <a href="https://github.com/ogabrielguerra/vacuum" target="_blank"><b>the project on GitHub</b></a>.</p>
            <p><a href="assets/images/vacuum-diagram.png">Vacuum flow diagram</a> </p>
            <h2>See it in action!</h2>
            <p>This website is using Vacuum. <br><b>But you can see more complex examples down below:</b></p>

            <h3><a href="https://www.pulsecreates.com" title="Branding Agency in Brazil" target="_blank">Pulse Creates</a></h3>
            <h3><a href="https://www.agenciapulse.com.br" title="Agência de Branding e Publicidade no Rio de Janeiro, Brasil" target="_blank">Agência Pulse</a></h3>

        </div>

    </div>

</div>
{% include 'parts/footer.html' %}