<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteBase /public_html

    #RewriteRule    ^assets/?$    assets/ [NC,L]
    # PAGES #
    RewriteRule    ^([A-Za-z0-9-]+)?$    index.php?pag=$1 [NC,L]

    # POSTS #
    RewriteRule    ^item/([A-Za-z0-9-]+)?$    index.php?slug=$1    [NC,L]
    RewriteRule    ^tag/([A-Za-z0-9-]+)?$    index.php?slug=$1    [NC,L]
    RewriteRule    ^categories/([A-Za-z0-9-]+)?$    index.php?slug=$1    [NC,L]

    # CONTACT #
    RewriteRule    ^contact/(.*)$    index.php?slug=contact&status=$1
    #RewriteRule    404    404error.php    [NC,L]    # Handle 404 error
</IfModule>

#ErrorDocument 404 http://192.168.1.22/public_html/
