{% include 'parts/header.html' %}

<body>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <h1>What is it?</h1>
                    <p><strong>Vacuum is an experiment of turning Wordpress into a static site.</strong></p>
                    <p>In fact, you don't need Wordpress to use Vacuum, just Json files.</p>

                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <h2>All the main features you need</h2>
                    <h3>Metadata</h3>
                    <p>SEO friendly with all the metadata you need.</p>

                    <h3>Flexible</h3>
                    <p>Easily add new properties editing static json files.</p>

                    <h3>Titles, Categories and Tags</h3>
                    <p>Just like you would have in Wordpress.</p>

                    <h3>Media</h3>
                    <p>Image handling and featured thumbnails.</p>
                </div>
                <div class="col-12 col-md-6">
                    <h2>Simple small footprint</h2>
                    <h3>PHP7 and only 2 main dependencies</h3>
                    <p>Vacuum uses just two main dependencies: FastRoute and Twig. </p>

                    <h3>Extensible</h3>
                    <p>Of course you might <b>extend it installing the library you want</b>.</p>

                    <h3>Fast but Powerful</h3>
                    <p>Vacuum is intended to be fast, but it with all the power and flexibility of PHP.</p>
            </div>

        </div>
    </section>

    {% include 'parts/footer.html' %}

</body>