<!-- CONTENT ------------------------------------------------------------------------------- -->

<!-- Intro Section -->
{% set imgPath = 'posts/tecnologia/quadrac/lp_media/' %}

<section class="inner-intro bg-image parallax parallax-background1" data-background-img="{{imgPath}}quadrac_topo.jpg">
   
    <div class="pattern"></div>
    <div class="container" style="position: relative; z-index: 10;">
        <div class="row title">
            <h6 class="h6 white">CASE</h6>
            <h2 class="h2 white">Quadrac</h2>
            <div class="page-breadcrumb">
                <a href="/" title="Página inicial de Agência Pulse">Home</a>/<a href="cases-de-comunicacao-e-marketing" title="Portfolio da Agência Pulse">Portfolio</a>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Section -->
        
<!-- About Section -->
<section class="ptb ptb-sm-80">
    <div class="container">
        <div class="row" style="margin-bottom: 80px;">
            <div class="col-md-6">
                <h3>Quadrac | Tecnologia de Rede</h3>
                <p class="lead"><b>A Quadrac é uma empresa que projeta, desenvolve e comercializa dispositivos passivos e ativos de rede, utilizando tecnologias de conectividade metálica e fibra óptica.</b></p>
                <p>Ao longo de 6 meses de projeto, nós desenvolvemos toda a identidade visual, aplicando em peças de comunicação vendedoras, como folders e catálogos, passando pelo suporte à feiras e ações promocionais.</p>
            </div>
            <div class="col-md-5 col-md-offset-1">
                
               
                <h4>TAGS DO PROJETO:</h4>
                <ul class="widget-tag no-style" >
					{{tagsList|raw}}
				</ul>
            </div>
        </div>       
    
    <style>
        .no-style{margin: 0px; padding: 0px; border: 0px solid;}
        .no-style li{list-style-type: none;}
    </style>
    
        <div>
           
        </div> 

        <div class="row">
        	<div class="col-md-12">
				<h4 style="color: #949494 !important; text-align: center">Brochura A4</h4>
				<p style="text-align: center">Criação de catálogo A4, com os produtos das Quadrac. Projeto gráfico e diagramação de conteúdo.</p>
       			<hr/>
        	<img src="{{imgPath}}/quadrac_01.jpg" alt="Case Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Case Quadrac | Agência Pulse - Branding e Comunicação" style="margin-top: 10px;">
        	</div>
        </div>
        
        <div class="row">
        	<div class="col-md-12">
        	<img src="{{imgPath}}/quadrac_02.jpg" alt="Case Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Case Quadrac | Agência Pulse - Branding e Comunicação">
        	</div>
        </div>

    </div> 
    
    <div class="row" style="margin-top: 90px;">
    	<div class="col-md-12">
			<h4 style="color: #949494 !important; text-align: center">Broadside</h4>
			<p style="text-align: center">Projeto especial para super folder, com as principais linhas de produto da Quadrac.</p>
   			<hr/>
        </div>
    </div>         

</section>         
  
<section class="ptb ptb-sm-80" style="overflow: hidden; min-height: 600px; margin-top: -40px !important; background-image: url('{{imgPath}}/pulse_cases_quadrac_full_01.jpg');" data-stellar-background-ratio="0.4">
</section>
        
<div class="container">

	<div class="row" style="margin: 80px 0px 80px 0px;">
		<div class="col-md-12">
		<img src="{{imgPath}}/quadrac_03.jpg" alt="Case Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Case Quadrac | Agência Pulse - Branding e Comunicação">
		</div>
	</div>
	
   <div class="row">
	<div class="col-md-12">
		<h4 style="color: #949494 !important; text-align: center">Folder A3</h4>
		<p style="text-align: center">Criação de folder A3, para linha de produtos de energia solar. Projeto gráfico e diagramação de conteúdo.</p>
		<hr/>
	<img src="{{imgPath}}/quadrac_04.jpg" alt="Folder A3 Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Criação de Folder A3 para Quadrac | Agência Pulse - Branding e Comunicação" style="margin-top: 70px;">
	</div>
</div>

   <div class="row">
	<div class="col-md-12">
		<h4 style="color: #949494 !important; text-align: center">Email marketing e newsletter</h4>
		<p style="text-align: center">Criação de vários emails promocionais e institucionais.</p>
		<hr/>
	<img src="{{imgPath}}/quadrac_05.jpg" alt="Email Marketing e Newsletter Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Criação de Email Marketing e Newsletter para Quadrac | Agência Pulse - Branding e Comunicação" style="margin-top: 70px;">
	</div>
</div>

 <div class="row" style="margin-top: 90px;">
	<div class="col-md-12">
		<h4 style="color: #949494 !important; text-align: center">Apresentação em PowerPoint</h4>
		<p style="text-align: center">Criação de apresentação em formato PowerPoint, de forma a permitir que os funcionários pudessem também fazer pesquenas alterações ou adições de conteúdo.</p>
		<hr/>
	<img src="{{imgPath}}/quadrac_06.jpg" alt="Apresentação PowerPoint Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Criação de Apresentação em PowerPoint para Quadrac | Agência Pulse - Branding e Comunicação" style="margin-top: 70px;">
	</div>
</div>

 <div class="row" style="margin-top: 90px;">
	<div class="col-md-12">
		<h4 style="color: #949494 !important; text-align: center">Crachás</h4>
		<p style="text-align: center">Aplicação de identidade visual em crachás de identificação.</p>
		<hr/>
	<img src="{{imgPath}}/quadrac_07.jpg" alt="Crachás Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Aplicação de Identidade Visual para Quadrac | Agência Pulse - Branding e Comunicação" style="margin-top: 70px;">
	</div>
</div>

 <div class="row" style="margin-top: 90px;">
	<div class="col-md-12">
		<h4 style="color: #949494 !important; text-align: center">Datasheets de produtos</h4>
		<p style="text-align: center">Criação e diagramação de datasheets para produtos.</p>
		<hr/>
	<img src="{{imgPath}}/quadrac_08.jpg" alt="Datasheets de Produtos Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Criação e diagramação Quadrac | Agência Pulse - Branding e Comunicação" style="margin-top: 70px;">
	</div>
</div>

 <div class="row" style="margin-top: 90px;">
	<div class="col-md-12">
		<h4 style="color: #949494 !important; text-align: center">Lâminas A4</h4>
		<p style="text-align: center">Criação de lâminas A4 de produtos, a serem entregues a prospects e público de feiras e congressos.</p>
		<hr/>
	<img src="{{imgPath}}/quadrac_09.jpg" alt="Lâminas A4 para Produtos Quadrac | Agência Pulse - Branding e Comunicação" width="100%" title="Design Gráfico para Lâminas de Produtos Quadrac | Agência Pulse - Branding e Comunicação" style="margin-top: 70px;">
	</div>
</div>	
	
</div>   

<hr />

<!-- End CONTENT ------------------------------------------------------------------------------>