<section class="inner-intro bg-image parallax parallax-background1" data-background-img="posts/tecnologia/sintell/lp_media/sintell_topo.jpg">

    <div class="pattern" style="opacity:0.3;"></div>
    <div class="container" style="position: relative; z-index: 10;">
        <div class="row title">
            <h6 class="h6 white">CASE</h6>
            <h2 class="h2 white">Sintell Condutores</h2>
            <div class="page-breadcrumb">
                <a href="/" title="Página inicial de Agência Pulse">Home</a>/<a href="cases-de-comunicacao-e-marketing" title="Portfolio da Agência Pulse">Portfolio</a>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Section -->

<!-- About Section -->
<section class="ptb ptb-sm-80">

    <div class="container">
        <div class="row" style="margin-bottom: 0px;">

            <div class="col-md-6">
                <h3>Sintell</h3>
                <p class="lead">Para a Sintell, trabalhamos com o redesign da marca e definimos um código de identidade visual, para que a empresa pudesse expandir sua linha de produtos com consistência de comunicação e imagem. A partir disso, fizemos o design gráfico das caixas de fios, oferecendo um caminho estético para as caixas que vierem a ser criadas no futuro. Design servindo à comunicação e ao marketing. </p>
                </br>
            </div>

            <div class="col-md-5 col-md-offset-1">

                <h4>TAGS DO PROJETO:</h4>
                <ul class="widget-tag no-style" >
                    {{tagsList|raw}}
                </ul>
            </div>
        </div>

        <style>
            .no-style{margin: 0px; padding: 0px; border: 0px solid;}
            .no-style li{list-style-type: none;}
        </style>

        <div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- <h4 style="color: #949494 !important; text-align: center">Packaging</h4>
                <p style="text-align: center">Criação de design gráfico para caixa, com luva, cama para acomodar produto e manual de utilização.</p>
                   <hr/> -->
                <img src="posts/tecnologia/sintell/lp_media/sintell_marca.png" alt="Sintell Condutores | Agência Pulse - Branding e Comunicação" width="96%" title="Sintell Condutores | Agência Pulse - Branding e Comunicação">
            </div>

            <div class="col-md-12">
                <img src="posts/tecnologia/sintell/lp_media/sintell_cartao.png" alt="Sintell Condutores | Agência Pulse - Branding e Comunicação" width="100%" title="Sintell Condutores | Agência Pulse - Branding e Comunicação">
            </div>
        </div>


    </div>


</section>

<section class="ptb ptb-sm-80" style="min-height: 600px; margin-top: -40px !important; background-image: url('posts/tecnologia/sintell/lp_media/sintell_bg.png'); background-position: center center;" data-stellar-background-ratio="0.4">
</section>

<div class="container" style="margin-top: 80px;">

    <div class="row">
        <div class="col-md-12">
            <h4 style="color: #949494 !important; text-align: center">Packaging</h4>
            <p style="text-align: center">Criação de arte para caixas de fio da Sintell, com projeto gráfico prevendo expansão de linha e novas embalagens.</p>
            <hr/>
            <img src="posts/tecnologia/sintell/lp_media/sintell_caixa_01.png" alt="Sintell Condutores | Agência Pulse - Branding e Comunicação" width="96%" title="Sintell Condutores | Agência Pulse - Branding e Comunicação" style="margin-top: 70px;">

            <img src="posts/tecnologia/sintell/lp_media/sintell_caixa_02.png" alt="Sintell Condutores | Agência Pulse - Branding e Comunicação" width="96%" title="Sintell Condutores | Agência Pulse - Branding e Comunicação" style="margin-top: 70px;">
        </div>
    </div>
</div>

<hr />
<!-- End CONTENT ------------------------------------------------------------------------------>